@using Microsoft.AspNet.Identity
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <span style="color:white"> @User.Identity.Name</span>
        </li>
        <li>@Html.ActionLink("登出", "Logout", "Member")</li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("登入", "Login", "Member")</li>
    </ul>
}
