@model Int32[]


@foreach (var i in Model) {
    @i
}

@foreach (var i in Model) {
    string j = " ";
    j+=i.ToString();
    @j
    
    @*@(i+ " ");*@
}

<ul>
    @foreach (var i in Model) {
    <li>@i</li>
    }
</ul>

